.home-icon {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-color: #bababa;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}

.home-icon:hover {
  background-color: #dfdfdf;
}

.home-img {
  width: 30px;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));
}